
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
<script src="~/assets/js/warehouse.js"></script>
<link href="~/assets/css/warehouse.css" rel="stylesheet" />
<style>
    #TodayReceiving_Table th, td {
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
    }

    #TodayReceiving_Table th {
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
    }

    .dataTables_wrapper .dataTable thead th {
        padding: 5px 30px;
    }

    table[aria-describedby="TodayReceiving_Table_info"] thead th {
        border: 1px solid #eee;
        text-align: center;
    }

    .dataTables_wrapper .dataTable {
        margin: 0 !important;
    }

    hr.myhrline {
        margin: 0px;
    }

    h4, h5, h6, p {
        margin: 2px;
    }

    div.card-body {
        padding: 1% !important;
    }
</style>
<script>/*-----------------------*/
    /*Initial on Webpage Load*/
    /*-----------------------*/
    var isFirstLoad = 1;
    var table = null;
    var selected_customer = [];
    var submitCriteria;
    var selected_dc = [];
    var screenID = 'WEB_WH_001';
    var cdc_column = [
        { "data": "receiveddate", "name": "receiveddate", "title": "Received Date", "autoWidth": false, "className": "text-nowrap", "render": uiHelpers.displayDateTime },
        { "data": "statusid", "name": "statusid", "title": "Status Id", "autoWidth": false, "className": "text-nowrap" },
        { "data": "statusname", "name": "statusname", "title": "Status Name", "autoWidth": false, "className": "text-nowrap" },
        { "data": "po_no", "name": "po_no", "title": "Po No.", "autoWidth": false, "className": "text-nowrap" },
        { "data": "invoice_no", "name": "invoice_no", "title": "Invoice No.", "autoWidth": false, "className": "text-nowrap" },
        { "data": "rc", "name": "rc", "title": "RC", "autoWidth": false, "className": "text-nowrap" },
        { "data": "ean", "name": "ean", "title": "EAN", "autoWidth": false, "className": "text-nowrap" },
        { "data": "suppliercode", "name": "Supplier Code", "title": "Supplier Code", "autoWidth": false, "className": "text-nowrap" },
        { "data": "suppliername", "name": "Supplier Name", "title": "Supplier Name", "autoWidth": false, "className": "text-nowrap" },
        { "data": "sku", "name": "sku", "title": "SKU", "autoWidth": false, "className": "text-nowrap" },
        { "data": "productbarcode", "name": "productbarcode", "title": "Product Barcode", "autoWidth": false, "className": "text-nowrap" },
        { "data": "productcode", "name": "productcode", "title": "Product Code", "autoWidth": false, "className": "text-nowrap" },
        { "data": "productdescription", "name": "productdescription", "title": "Product Description", "autoWidth": false, "className": "text-nowrap" },
        { "data": "weight", "name": "weight", "title": "Net Weight", "autoWidth": false, "className": "text-nowrap text-right", "render": uiHelpers.renderInteger },
        { "data": "volumn", "name": "volumn", "title": "Volumn", "autoWidth": false, "className": "text-nowrap text-right", "render": uiHelpers.renderInteger },
        { "data": "qty_in_ewm", "name": "qty_in_ewm", "title": "Qty In EWM", "autoWidth": false, "className": "text-nowrap text-right", "render": uiHelpers.renderInteger },
        { "data": "unit_code", "name": "unit_code", "title": "Unit Code", "autoWidth": false, "className": "text-nowrap" },
        { "data": "uom", "name": "uom", "title": "UOM", "autoWidth": false, "className": "text-nowrap" },
        { "data": "productgroupcode", "name": "Product Groupcode", "title": "Product Group Code", "autoWidth": false, "className": "text-nowrap" },
        { "data": "productgroupname", "name": "Product Groupname", "title": "Product Group Name", "autoWidth": false, "className": "text-nowrap" },
        { "data": "doctype", "name": "doctype", "title": "Doc Type", "autoWidth": false, "className": "text-nowrap" },
        { "data": "docrefno", "name": "docrefno", "title": "Doc Ref No.", "autoWidth": false, "className": "text-nowrap" },
        { "data": "inbound", "name": "inbound", "title": "Inbound", "autoWidth": false, "className": "text-nowrap" },
        { "data": "entiled", "name": "entiled", "title": "Entiled", "autoWidth": false, "className": "text-nowrap" },
        { "data": "chargeunit", "name": "chargeunit", "title": "Charge Unit", "autoWidth": false, "className": "text-nowrap" },
        { "data": "chargeitem", "name": "chargeitem", "title": "Charge Item", "autoWidth": false, "className": "text-nowrap" },
        { "data": "customer_name", "name": "customer_name", "title": "Customer", "autoWidth": false, "className": "text-nowrap" },
        { "data": "arrival_date", "name": "arrival_date", "title": "Arrival Date", "autoWidth": false, "className": "text-nowrap", "render": uiHelpers.renderDate },
        { "data": "transit_date", "name": "transit_date", "title": "Transit Date", "autoWidth": false, "className": "text-nowrap", "render": uiHelpers.displayDateTime }
    ];


    function initialSearchCriteria() {
        var ajax = [];
        $('#CriteriaOveray').show();
        ajax.push(GetCustomer('CDC'));
        ajax.push(GetDC('CDC'));
        var result = Promise.all(ajax).finally(() => { $('#CriteriaOveray').hide(); });
        return result;
    }

    $(document).ready(function () {
        //Report Type

        init_datepicker_criteria();

        $('#cboDC').on("change", function (element, checked) {
            GetCustomer('CDC', $('#cboDC').select2('data').map(x => x.id));
        });

        initialControl().then(() => {
            //ต้องทำหลังจากที่ initial control เสร็จ (พวก dropdown ที่ดึงค่ามาจาก database)
            uiHelpers.getDefaultCriteria(screenID).done((result) => { setCriteria(result.data) }).always(Search);
        });

        $.contextMenu({
            selector: '.context-menu',
            trigger: 'hover',
            delay: 100,
            autoHide: true,
            callback: function (key, options) {
                var link = $(options.selector + ".context-menu-active");
                //window.console && console.log(m);
                if (key == "download") {
                    link[0].click();
                }
                else if (key == "downloadAll") {
                    var chartID = $('.chartCanvas').map((idx, element) => { return '#' + $(element).prop('id') }).toArray();

                    uiHelpers.downloadPDF(chartID, 'Receiving Report Chart');
                }
            },
            items: {
                "download": { name: "Download", icon: "fas fa-download" },
                "downloadAll": { name: "Download All", icon: "fas fa-file-download" },
            }
        });

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            $($.fn.dataTable.tables(true)).DataTable()
                .columns.adjust();
        });

    });</script>

<script>
    function Search() {

        uiHelpers.initCriteria(screenID, '#search-button', setCriteria, getRequest, Search);

        submitCriteria = getRequest();

        GetSummary(submitCriteria);

        GetCompareChart(submitCriteria);

        DrawTableDetail(submitCriteria);

        GetReceivedByTimeChart(submitCriteria);

    }
    function setCriteria(data) {
        if (data == null) return;
        $('#daterange-99').data('daterangepicker').setStartDate(new Date(data.criteria.selectStartDate));
        $('#daterange-99').data('daterangepicker').setEndDate(new Date(data.criteria.selectEndDate));
        $('#cboCountBy').val(data.criteria.CountBy).trigger('change');
        $('#cboDC').val(data.criteria.selectDc).trigger('change');
        $('#cboCustomer').val(data.criteria.selectCustomer).trigger('change');
    }


    function getRequest(filter) {
        if (!filter) {
            filter = {
                CustomerName: null, Status: null , Time: null, Datetype: null
            };
        }
        else {
            filter = {
                CustomerName: null || filter.CustomerName, Status: null || filter.Status, Time: null || filter.Time, Datetype: null || filter.Datetype
            };
        }

        var customer = $('#cboCustomer').select2('data').map(x => x.id);
        var dc = $('#cboDC').select2('data').map(x => x.id);
        var tmpStartDate = $('#daterange-99').data('daterangepicker').startDate._d;
        var tmpEndDate = $('#daterange-99').data('daterangepicker').endDate._d;
        var startDate = tmpStartDate.getFullYear() + "/" + (tmpStartDate.getMonth() + 1) + "/" + tmpStartDate.getDate();
        var endDate = tmpEndDate.getFullYear() + "/" + (tmpEndDate.getMonth() + 1) + "/" + tmpEndDate.getDate();
        var CountBy = document.getElementById('cboCountBy').value;
        var cboCountBy = document.getElementById('cboCountBy');

        var CountByName = cboCountBy.options[cboCountBy.selectedIndex].text;

        if (!customer) {
            customer = null;
        }
        if (!dc) {
            dc = null;
        }
        if (!CountBy) {
            CountBy = null;
        }
        var request = {
            selectStartDate: startDate,
            selectEndDate: endDate,
            selectDc: dc,
            selectCustomer: customer,
            CountBy: CountBy,
            CountByName: CountByName,
            selectCustomerName: filter.CustomerName,
            selectStatus: filter.Status,
            selectTime: filter.Time,
            selectDateType: filter.Datetype
        };
        console.log(request);
        return request;
    }

    function getSubmitRequest(filter) {
        filter = {
             CustomerName: null || filter.CustomerName, Status: null || filter.Status, Time: null || filter.Time, Datetype: null || filter.Datetype
        };
        $('#ModalTransactionDate').text(moment(filter.orderStartDate).format('DD/MM/YYYY') + '-' + moment(filter.orderEndDate).format('DD/MM/YYYY'));
        return {
            ...submitCriteria,
            selectCustomerName: filter.CustomerName,
            selectStatus: filter.Status,
            selectTime: filter.Time,
            selectDateType: filter.Datetype
        }
    }

    function genTableModal(filter) {
        @*generateTableLeadModal_SR('#ReceieveDetailModal', '@Url.Action("RPTCDC001_RecivingReport", "Warehouse")',
            filter, null, cdc_column);*@
        $('#modals-transaction').modal('show');
        generateTableLeadModal_SR('#ReceieveDetailModal', '@Url.Action("RPTCDC001_RecivingReport", "Warehouse")',
            filter, '', cdc_column);
    }

    function GetCompareChart(request) {
        $('#SectionTodayCompareReceived').show();
        $('#barChartTodayReceiving').remove();
        $('#barChartTodayReceivingContainer').append('<canvas id="barChartTodayReceiving" class="chartCanvas"><canvas>');
        //Placeholder for input parametersป
        var sectionCompareChart = document.getElementById('CompareReceiving');

        var sectionreportHeader = document.getElementById('TodayReceivingDate');
        var sectionChartDate = document.getElementById('ChartDate');
        var DateDis = GetDateDisplay();

        sectionreportHeader.innerText = DateDis.StartDate + " - " + DateDis.EndDate;
        sectionChartDate.innerText = DateDis.StartDate + " - " + DateDis.EndDate;

        var cboCountBy = document.getElementById('cboCountBy');
        $.ajax({
            url: '@Url.Action("RPTCDC001_TodayReceivingChart", "Warehouse")',
            type: 'POST',
            data: request,
            dataType: 'Json'
        }).done(function (response) {
            $('#barChartTodayReceivingContainer').height(200 + (25 * response.countData) + 'px');
            var ctx = document.getElementById("barChartTodayReceiving").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'horizontalBar',
                data: response,
                options: {
                    plugins: {
                        datalabels: {
                            color: 'black',
                            display: 'false',
                            font: {
                                weight: 'bold'
                            },
                            formatter: function (value, context) {
                                return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                            }
                        }
                    },
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        xAxes: [{
                            stacked: true,
                            //ticks: {
                            //    min: 60
                            //},
                            scaleLabel: {
                                display: true,
                                labelString: cboCountBy.options[cboCountBy.selectedIndex].text
                            },
                            maxBarThickness: 20
                        }],
                        yAxes: [{
                            stacked: true,
                            scaleLabel: {
                                display: true,
                                labelString: "Customer"
                            },
                            maxBarThickness: 60
                        }]
                    },
                    elements: {
                        rectangle: {
                            borderWidth: 1,
                        }
                    },
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: false,
                        text: 'Receiving Today'
                    }
                }
            });
            var canvas = document.getElementById('barChartTodayReceiving');
            canvas.onclick = function (evt) {
                var activePoints = myChart.getElementsAtEvent(evt);
                if (activePoints[0]) {

                    //label
                    var chartData = activePoints[0]['_chart'].config.data;
                    var idx = activePoints[0]['_index'];
                    var CustomerName = chartData.labels[idx];

                    //data
                    var activePoint = myChart.getElementAtEvent(evt)[0];
                    var data = activePoint._chart.data;
                    var datasetIndex = activePoint._datasetIndex;
                    var Status = data.datasets[datasetIndex].label;
                    var Datetype = 'pl';
                    //console.log(status);
                    genTableModal({ CustomerName: CustomerName, Status: Status, Datetype: Datetype  });
                }
                //DrawTableDetail(genTableModal(Customerslabel, status,null,'pl'));
            };
        }).fail(function (error) {
            console.log(error);
        }).always(function () {
            $('#SectionTodayCompareReceived').hide();
        });

        var table = $("#TodayReceiving_Table").DataTable().destroy();
        var table = $("#TodayReceiving_Table").DataTable({
            "ajax": ({
                url: '@Url.Action("RPTCDC001_ReceivedSummaryTable", "Warehouse")',
                type: 'POST',
                data: request,
                dataType: 'Json'
            }),
            dom: 'lTf<"html5buttons"B > gtip',
            buttons: [
                'copy', 'excel'
                //, 'csv', 'excel', 'print'
            ],
            scrollX: true,//
            //ordering: false,//

            "bSort": true,
            order: [],
            responsive: true,
            responsive: true,
            searching: false,
            paging: false,
            lengthChange: false,
            pageLength: 10,
            fixedColumns: {
                heightMatch: 'none'
            },
            columns: [
                { "data": "customer_name", className: "text-nowrap"},
                { "data": "total_qty_today", className: "text-nowrap","render": uiHelpers.renderInteger},
                { "data": "issue_qty", className: "text-nowrap", "render": uiHelpers.renderInteger},
                { "data": "incomplete_received_qty", className: "text-nowrap", "render": uiHelpers.renderInteger},
                { "data": "received_qty_today", className: "text-nowrap", "render": uiHelpers.renderInteger},
                { "data": "putaway_qty_today", className: "text-nowrap", "render": uiHelpers.renderInteger},
                //{ "data": "putaway_percent", className: "text-nowrap" },
                {
                    "data": "putaway_percent", className: "text-nowrap",
                    "render": function (data, type, row, meta) {
                        return parseFloat(data).toFixed(2);
                    }
                },

            ]
        });


    }
        //
        // Get ReceivedByTime Chart
        //


        function GetReceivedByTimeChart(request) {
            $('#SectionBarChartReceivedByReceivedTime').show();
            $('#barChartReceivedByReceivedTime').remove();
            $('#barChartReceivedByReceivedTimeContainer').append('<canvas id="barChartReceivedByReceivedTime" class="chartCanvas"><canvas>');
            var DateDis = GetDateDisplay();
            var cboCountBy = document.getElementById('cboCountBy');
            $.ajax({
                url: '@Url.Action("RPTCDC001_ReceivedByReceivedTimeBarChart", "Warehouse")',
                type: 'POST',
                data: request,
                dataType: 'Json'
            }).done(function (response) {
                var ctx = document.getElementById("barChartReceivedByReceivedTime").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: response,
                    options: {
                        scales: {
                            xAxes: [{
                                stacked: true,
                                gridLines: {
                                    display: false,
                                }
                                ,
                                scaleLabel: {
                                    display: true,
                                    labelString: "Time"
                                }
                            }],
                            yAxes: [{
                                stacked: true,
                                ticks: {
                                    beginAtZero: true,
                                },
                                type: 'linear',
                                scaleLabel: {
                                    display: true,
                                    labelString: cboCountBy.options[cboCountBy.selectedIndex].text
                                }
                            }]
                        },
                        elements: {
                            line: {
                                fill: false
                            }
                        },
                        responsive: true,
                        maintainAspectRatio: false,
                        legend: {
                            position: "bottom"
                        },
                        title: {
                            display: true,
                            text: "การรับสินค้าตามช่วงเวลา (Received Time)"
                        }
                    }
                });
                var canvas = document.getElementById('barChartReceivedByReceivedTime');
                canvas.onclick = function (evt) {
                    var activePoints = myChart.getElementsAtEvent(evt);
                    if (activePoints[0]) {

                        //label
                        var chartData = activePoints[0]['_chart'].config.data;
                        var idx = activePoints[0]['_index'];
                        var Timelabel = chartData.labels[idx];

                        //data
                        var activePoint = myChart.getElementAtEvent(evt)[0];
                        var data = activePoint._chart.data;
                        var datasetIndex = activePoint._datasetIndex;
                        var CustomerName = data.datasets[datasetIndex].label;
                        Time = Timelabel.slice(0, -3);

                    }
                    genTableModal({ CustomerName: CustomerName, Time: Time, Datetype: 'rc' });
                    //DrawTableDetail(getRequest(CustomerLabel, null, Timelabel,'rc'));
                };

            }).fail(function (error) {
                console.log(error);
            }).always(function () {
                $('#SectionBarChartReceivedByReceivedTime').hide();
            });
            $('#SectionBarChartReceivedBytime').show();
            $('#barChartReceivedByTime').remove();
            $('#barChartReceivedByTimeContainer').append('<canvas id="barChartReceivedByTime" class="chartCanvas"><canvas>');
            var DateDis = GetDateDisplay();
            var cboCountBy = document.getElementById('cboCountBy');
            $.ajax({
                url: '@Url.Action("RPTCDC001_ReceivedByTimeBarChart", "Warehouse")',
                type: 'POST',
                data: request,
                dataType: 'Json'
            }).done(function (response) {
                var ctx = document.getElementById("barChartReceivedByTime").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: response,
                    options: {
                        scales: {
                            xAxes: [{
                                stacked: true,
                                gridLines: {
                                    display: false,
                                }
                                ,
                                scaleLabel: {
                                    display: true,
                                    labelString: "Time"
                                }
                            }],
                            yAxes: [{
                                stacked: true,
                                ticks: {
                                    beginAtZero: true,
                                },
                                type: 'linear',
                                scaleLabel: {
                                    display: true,
                                    labelString: cboCountBy.options[cboCountBy.selectedIndex].text
                                }
                            }]
                        },
                        elements: {
                            line: {
                                fill: false
                            }
                        },
                        responsive: true,
                        maintainAspectRatio: false,
                        legend: {
                            position: "bottom"
                        },
                        title: {
                            display: true,
                            text: "การรับสินค้าตามช่วงเวลา (Put Away Time)"
                        }
                    }
                });
                var canvas = document.getElementById('barChartReceivedByTime');
                canvas.onclick = function (evt) {
                    var activePoints = myChart.getElementsAtEvent(evt);
                    if (activePoints[0]) {

                        //label
                        var chartData = activePoints[0]['_chart'].config.data;
                        var idx = activePoints[0]['_index'];
                        var Timelabel = chartData.labels[idx];

                        //data
                        var activePoint = myChart.getElementAtEvent(evt)[0];
                        var data = activePoint._chart.data;
                        var datasetIndex = activePoint._datasetIndex;
                        var CustomerName = data.datasets[datasetIndex].label;

                        Time = Timelabel.slice(0, -3);
                    }
                    genTableModal({ CustomerName: CustomerName, Time: Time, Datetype: 'pa' });
                    //DrawTableDetail(getRequest(CustomerLabel, null, Timelabel,'pa'));
                };

            }).fail(function (error) {
                console.log(error);
            }).always(function () {
                $('#SectionBarChartReceivedBytime').hide();
            });

        }

    function DrawTableDetail(request) {

        var sectionReceivingDetailText = document.getElementById('ReceivingDetailText');
        var DateDis = GetDateDisplay();
        sectionReceivingDetailText.innerText = "รายละเอียดยอดสินค้าขารับประจำวันที่ " + DateDis.StartDate + "-" + DateDis.EndDate;
        $('#SectionReceivingDetail').show();

            var jqxhr = $.post("/Warehouse/RPTCDC001_RecivingReport", request)
                .done(function (result) {
                    //if (result.status) {
                    if (table == null) {
                        GenerateDatatable(result.data, cdc_column);
                    }
                    else {
                        table.clear();
                        $.each(result.data, function (idx, obj) {
                            table.row.add(result.data[idx]);
                        });
                        table.draw();
                    }

                })
                .fail(function (e) {
                    console.log(e);
                })
                .always(function (e) {
                    $('#SectionReceivingDetail').hide();
                });

        }

        function isEmpty(obj) {
            for (var key in obj) {
                if (obj.hasOwnProperty(key))
                    return false;
            }
            return true;
        }

        var isRtl = $('html').attr('dir') === 'rtl';
        $(function () {
            $('#datepicker-base').datepicker({
                format: "mm-yyyy",
                viewMode: "months",
                minViewMode: "months",
                orientation: isRtl ? 'auto right' : 'auto left'
            });
        });

        @*function genTableModal(filter) {
            $('#modals-transaction').modal('show');
            generateTableLeadModal('#ReportModal', '@Url.Action("RPTCDC001_RecivingReport", "Warehouse")',
                filter, null, cdc_column);
        }*@

</script>

<input type="hidden" id="reporttype" />
<!-- Content Start -->
<div class="content-wrapper">
    <h1>Warehouse</h1>
    <h4 class="card-title">รายการรับสินค้า (Receiving Report)</h4>
    <ul class="nav filled-tabs">
        <li class="nav-item">
            <a class="nav-link active show" data-toggle="tab" href="#filled-dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#filled-rawdata">Raw Data</a>
        </li>
    </ul>
    <div class="tab-content">
        @{
            await Html.RenderPartialAsync("_Common_WH_Criteria_07");
        }
        <div class="tab-pane active show" id="filled-dashboard">
            <div class="row" style="margin-top:2%;">
                <div class="col-12 card-statistics">
                    <div class="row" id="div_summary" data-bind="foreach: summary">
                        <div id="SectionSummaryCompareReceive" class="overlay">
                            <div class="loader-wrap">
                                <div class="bar-loader">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-2 mb-4">
                            <div class="card">
                                <div class="card-body" style="padding-bottom:2%;padding-top:2%;padding-left:5%;padding-right:5%">
                                    <div class="row">
                                        <div class="col align-items-center">
                                            <div class="d-flex justify-content-center">
                                                <b data-bind="text:dc_name"></b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col align-items-center">
                                            <div class="d-flex justify-content-center">
                                                <p data-bind="text:$parent.xAxisLabel">Order</p>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="myhrline" />
                                    <div class="row ">
                                        <div class="col align-items-center">
                                            <div class="d-flex justify-content-center">
                                                <b data-bind="text: formatCurrency(total_order)"></b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col align-items-center">
                                            <div class="d-flex justify-content-center">
                                                <p>Total</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col align-items-center">
                                            <div class="d-flex justify-content-start">
                                                <b data-bind="text: formatCurrency(received_order)">1000</b>
                                            </div>
                                        </div>
                                        <div class="col align-items-center">
                                            <div class="d-flex justify-content-end">
                                                <b data-bind="text: formatCurrency(outstanding_order)">2000</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col align-items-center">
                                            <div class="d-flex justify-content-start">
                                                <p style="text-align:left">Done</p>
                                            </div>
                                        </div>
                                        <div class="col align-items-center">
                                            <div class="d-flex justify-content-end">
                                                <p style="text-align:right">OutStanding</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col align-items-center">

                                            <div class="progress progress-xs">
                                                <div class="progress-bar bg-info" role="progressbar" data-bind="attr: {'aria-valuenow': formatCurrency((total_order/received_order)*100),} , style: {width:(received_order/total_order)*100+'%'}"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                                <div class="progress-bar bg-danger" role="progressbar" data-bind="attr: {'aria-valuenow': formatCurrency(100-((total_order/received_order)*100)),} ,style: {width:100-((received_order/total_order)*100)+'%'}"
                                                     aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">แผนการรับสินค้าเข้าคลัง ประจำวันที่ <span id="TodayReceivingDate"></span></h4>
                            <div class="row" id="CompareReceiving">
                                @*//Today Receiving*@
                                <div class="col-md-12">
                                    <div class="card">
                                        <div id="SectionTodayCompareReceived" class="overlay">
                                            <div class="loader-wrap">
                                                <div class="bar-loader">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 d-flex align-items-center justify-content-between">
                                            <h4 class="card-title" id="TodayReceivingText"></h4>
                                            <div class="d-flex align-items-center">
                                                <div class="wrapper">
                                                    <a href="#" id="downloadPdf" onclick="uiHelpers.downloadPDF('#barChartTodayReceiving','แผนการรับสินค้าเข้าคลัง'); return false;" class="btn btn-link d-inline-flex font-weight-bold context-menu">
                                                        <i class="icon-share-alt mr-1"></i>Download PDF
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        @*<canvas id="MeSeStatusCanvas"></canvas>*@
                                        <div class="card-body" id="barChartTodayReceivingLayout">
                                            <div id="barChartTodayReceivingContainer" class="chart-container" style="position: relative; height:30vh;">
                                                <canvas id="barChartTodayReceiving"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*Yesterday Receiving*@
                                <div class="col-md-12 mt-4">
                                    <div class="card">
                                        <div class="card-body" style="padding-bottom:2%;padding-top:2%;padding-left:5%;padding-right:5%">
                                            <h4 class="card-title" id="TodayReceivingDetailText"></h4>
                                            <div>
                                                <div class="dataTables_wrapper">
                                                    @*<table id="dtList" class="table table-striped" style="width:100%"></table>*@
                                                    <table class="table table-striped" id="TodayReceiving_Table" cellspacing="0" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th rowspan="2" tyle="text-align:center">Customer</th>
                                                                <th rowspan="2" style="text-align:center">Plan</th>
                                                                <th colspan="4" scope="colgroup" style="text-align:center">Status</th>
                                                                <th rowspan="2" style="text-align:center">
                                                                    <div>% Receiving</div><div>Done</div>
                                                                </th>

                                                            </tr>
                                                            <tr>
                                                                <th style="text-align:center">Receiving<br>Instruction Issued</th>
                                                                <th style="text-align:center">Incomplete<br>Receiving</th>
                                                                <th style="text-align:center">Complete Receiving</th>
                                                                <th style="text-align:center">Putaway</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">สรุปการรับสินค้าเข้าคลังตามช่วงเวลา ประจำวันที่ <span id="ChartDate"></span></h4>
                            <div class="row" id="ReceivedByTime">
                                @*//Today Receiving*@

                                <div class="col-md-12 mt-4">
                                    <div class="card">
                                        <div id="SectionBarChartReceivedByReceivedTime" class="overlay">
                                            <div class="loader-wrap">
                                                <div class="bar-loader">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-barChartReceivedByReceivedTimeText12 d-flex align-items-center justify-content-between">
                                            <h4 class="card-title" id="barChartReceivedByReceivedTimeText"></h4>
                                            <div class="d-flex align-items-center">
                                                <div class="wrapper">
                                                    <a href="#" id="downloadPdf" onclick="uiHelpers.downloadPDF('#barChartReceivedByReceivedTime','การรับสินค้าเข้าคลังตามช่วงเวลา (Receiving Time)'); return false;" class="btn btn-link d-inline-flex font-weight-bold context-menu">
                                                        <i class="icon-share-alt mr-1"></i>Download PDF
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body" id="barChartReceivedByReceivedTimeLayout">
                                            <div id="barChartReceivedByReceivedTimeContainer" class="chart-container" style="position: relative; height:60vh;">
                                                <canvas id="barChartReceivedByReceivedTime"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <div class="card">
                                        <div id="SectionBarChartReceivedBytime" class="overlay">
                                            <div class="loader-wrap">
                                                <div class="bar-loader">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 d-flex align-items-center justify-content-between">
                                            <h4 class="card-title" id="barChartReceivedByTimeText"></h4>
                                            <div class="d-flex align-items-center">
                                                <div class="wrapper">
                                                    <a href="#" id="downloadPdf" onclick="uiHelpers.downloadPDF('#barChartReceivedByTime','การริบสินค้าตามช่วงเวลา (Put Away Time)'); return false;" class="btn btn-link d-inline-flex font-weight-bold context-menu">
                                                        <i class="icon-share-alt mr-1"></i>Download PDF
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        @*<canvas id="MeSeStatusCanvas"></canvas>*@
                                        <div class="card-body" id="barChartReceivedByTimeLayout">
                                            <div id="barChartReceivedByTimeContainer" class="chart-container" style="position: relative; height:60vh;">
                                                <canvas id="barChartReceivedByTime"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="filled-rawdata">
            <div class="row" id="ReceivingDetail">
                <div class="col-12">
                    <article class="card mb-4">
                        <div id="SectionReceivingDetail" class="overlay">
                            <div class="loader-wrap">
                                <div class="bar-loader">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title" id="ReceivingDetailText"></h4>
                            <div>
                                <div class="dataTables_wrapper">
                                    <table id="dtList" class="table table-striped" style="width:100%"></table>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content End -->
<div class="modal modal-default" id="modals-transaction">
    <div class="modal-dialog-centered modal-dialog-scrollable" style="max-width: 80%;margin:auto">
        <form class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    รายละเอียดยอดสินค้าขารับประจำวันที่ <span id="ModalTransactionDate"></span>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col">
                        <div class="row" id="ReceieveDetailModal">
                            <div class="col-12">
                                <div class="overlay section-loading">
                                    <div class="loader-wrap">
                                        <div class="bar-loader">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                                <h4 class="card-title section-title"></h4>
                                <div class="table-responsive">
                                    <div class="dataTables_wrapper">
                                        <table class="table table-striped section-table-render" style="width:100%"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary waves-effect" data-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
</div>

@*<div class="modal modal-default" id="modals-transaction">
    <div class="modal-dialog-centered modal-dialog-scrollable" style="max-width: 80%;margin:auto">
        <form class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    รายละเอียดการจัดเที่ยวระหว่างวันที่ <span id="ModalTransactionDate"></span>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col">
                        <div class="row" id="ReportModal">
                            <div class="col-12">
                                <div class="overlay section-loading">
                                    <div class="loader-wrap">
                                        <div class="bar-loader">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                                <h4 class="card-title section-title"></h4>
                                <div class="table">
                                    <div class="dataTables_wrapper">
                                        <table class="table table-striped section-table-render" style="width:100%"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary waves-effect" data-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
</div>*@

<script>var model = {
        summary: ko.observableArray([]),
        xAxisLabel: ko.observable()
    }

    ko.applyBindings(model, document.getElementById("div_summary"));

    function GetSummary(request) {
        $('#SectionSummaryCompareReceive').show();

        var jqxhr = $.post("/Warehouse/RPTCDC001_ReceivedSummary", request)
            .done(function (result) {

                model.summary(result.datalist);
                model.xAxisLabel(result.xAxislabelString);

                //var CountByText = document.getElementById('CountByText');
                //CountByText.innerText = "PCs.";
            })
            .fail(function (e) {
                console.log(e);
            })
            .always(function () {
                $('#SectionSummaryCompareReceive').hide();

                //console.log( "finished" );
            });
    }
    var formatCurrency = function (amount) {
        if (!amount) {
            return "0";
        }
        amount += '';
        x = amount.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return "" + x1 + x2;
    }</script>
